*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
     
#logo{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
#links{
    gap: 22px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.section1txt{
    width: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    color: rgb(248, 244, 252);
}
h1{
    color: azure;
    margin-bottom: 16px;
}
main{
    margin-top: 20px;
}



